nav{
    display: flex;
    background-color: hsl(271, 68%, 65%);
   justify-content: end;
    padding: 10px 20px;
}
.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}
h1{
    color: hsl(272, 89%, 28%);
    text-align: center;
    background-color: hsl(272, 31%, 56%);
}